@tailwind base;
@tailwind components;
@tailwind utilities;

.customUnderline {
  background-image: linear-gradient(to right, #e12826, #e12826);
  background-size: 100% 0.35em;
  background-repeat: no-repeat;
  background-position: 0px 88%;
}

.avoidingPurge {
  @apply bg-red-500;
}
